/*Importar dependencias normalize*/
@import "../../node_modules/normalize-styl/normalize.styl";


/* ==========================================================================
   Estilos
   ========================================================================== */

    body {
        font: 16px/26px Helvetica, Helvetica Neue, Arial;
    }
    h1,h2,h3,h4,h5,h6,p{ margin:0;padding:0}



    border-radius()
        -webkit-border-radius: arguments
        -moz-border-radius: arguments
        border-radius: arguments
   
    body
       background-color #fff;
       font: 16px/26px Helvetica, Helvetica Neue, Arial;
    .header-container
        width:100%;
        height:505x;
        background-color:#000;
        float:left;
    .main-container
        width:100%;
        min-height:555px;
        float:left;
    #contenido
        width:1000px;
        height:auto;
        margin:auto;
        padding-top:50px;
        padding-bottom:60px;
    .footer-container
        width:100%;
        height 120px;
        background-color:#000;
        float:left;
    .center-header
        width:1000px;
        height auto;
        margin:auto;
    
    ul 
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000;

    li 
        float: left;

    li a 
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Roboto Slab', serif;
        font-size:14px;
        background-color:#2b2b2b;
        margin-left:4px;

    li a:hover
        background-color: #111;
    
    .content-box
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top:30px;
    .card-box
        width:200px;
        min-height:340px;
        padding:15px;
        background-color:#f3f3f3; 
        margin-bottom:25px;
    .box-img
        width:200px;
        height:200px;
        float:left
        margin-bottom:15px;
    .article h1
        font-family: 'Roboto Slab', serif;
        font-style:normal;
        font-weight:normal;
        font-size:30px;
        color:#000;
        margin-bottom:20px;
    .article p
        font-family: 'Roboto Slab', serif;
        font-style:normal;
        font-weight:normal;
        font-size:13px;
        color:#000;
        line-height:22px;
        margin-bottom:23px;
    .article img
            margin-bottom:25px;
    .contenido-layout
        width:100%;
        height:auto;
        margin-bottom:30px;
        h1
            font-family: 'Roboto Slab', serif;
            font-size:30px;
            color:#000;
            margin-bottom:20px;
        p
            font-family: 'Roboto Slab', serif;
            font-size:14px;
            color:#000;
    .box-descripcion 
        width:100%;
        float: left; 
        h1
            font-family: 'Roboto Slab', serif;
            font-size:17px;
            color:#000;
            margin-bottom:10px;
        p
            font-family: 'Roboto Slab', serif;
            font-size:12px;
            color:#000;
            line-height:18px; 
    .box-like
        width:100%;
        float:left;
        margin-top:10px;
        span
            font-family: 'Roboto Slab', serif;
            font-size:12px;
            color:#000;
                
    .corazon
        width:20px;
        height 18px;
        background-image url('../img/corazon.png');
        background-size:20px 18px;
        float:left;
        margin-right:7px;
        margin-top:2px;
    .corazon-red
        width:20px;
        height 18px;
        background-image url('../img/corazon-red.png');
        background-size:20px 18px;
        float:left;
        margin-right:7px;
        margin-top:2px;
        display none;
    .box-like.liked a.corazon
                        display:none;
    .box-like.liked a.corazon-red
                        display:block;
    .date
        width:100%;
        margin-bottom:5px;
        float:left
        p
            font-family: 'Roboto Slab', serif;
            font-size:10px;
            color:#5d5d5d;
            line-height:18px;
        span
            color:#000;   
            
        
        
        
        
       
       





